<followers-button
  [buttonText]='buttonText'
  (followersShowed)='followersShowed($event)'
>
</followers-button>

<div class="followers" *ngIf='areFollowersShown'>
  <h1>Followers:</h1>

  <div *ngFor='let profile of githubFollowersInfo; let i = index' class="follower-profile">
    <div *ngIf='i < 10'>
      <h3>
        <a href={{profile.html_url}}>{{profile.login}}</a>
      </h3>
      <img class='follower-avatar' src={{profile.avatar_url}} alt={{profile.login}}>

      <repos
        [user]='profile.login'
      >
      </repos>

    </div>
  </div>
</div>
