<div class="profile">
  <h1>{{githubProfileInfo?.name}}</h1>
  <img src={{githubProfileInfo?.avatar_url}} alt={{githubProfileInfo?.name}}>
  <p>
    <strong>Company:</strong>
    {{githubProfileInfo?.company}}
  </p>
  <p>
    <strong>Bio:</strong>
    {{githubProfileInfo?.bio}}
  </p>
  <p>
    <strong>Location:</strong>
    {{githubProfileInfo?.location}}
  </p>
  <p>
    <strong>Repositories:</strong>
    {{githubProfileInfo?.public_repos}}
  </p>
  <p>
    <strong>Followers:</strong>
    {{githubProfileInfo?.followers}}
  </p>
</div>
