<h1>Animal Details</h1>

<div class="animal-container">
  <h2>{{animal.type}} - {{animal.name}}</h2>
  <img *ngIf="animal.image" [src]="animal.image" [alt]="animal.id" />
  <p>
    <strong>Age:</strong>
    {{animal.age}}
  </p>
  <p>
    <strong>Price:</strong>
    {{animal.price}} лв.
  </p>
  <p>
    <strong>Color:</strong>
    {{animal.color}}
  </p>
  <p>
    <strong>Created On:</strong>
    {{animal.createdOn}}
  </p>

  <div *ngIf="animal.reactions">
    <h3>Reactions:</h3>
    <div *ngFor="let key of animal.reactions | keys">
      <strong>{{key.toUpperCase()}}</strong>:
      {{animal.reactions[key]}}</div>
  </div>

  <div class="comments">
    <h2>Comments:</h2>
    <div *ngFor="let comment of comments">
      <div *ngIf="comment.message">{{comment.user}} - {{comment.message}}</div>
    </div>
  </div>
</div>

<div class="reaction-container">
  <form #reactionForm="ngForm" (submit)="submitReaction($event)">
    <div class="form-group">
      <label for="reaction">Reaction</label>
      <select
        (change)="selectChange($event)"
        class="form-control"
        name="reaction"
        id="reaction"
        required>
        <option *ngFor="let reaction of ['like', 'love', 'haha', 'wow', 'sad', 'angry']" [value]="reaction">{{reaction}}</option>
      </select>
    </div>

    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!reactionForm.form.valid"
    >
      React
    </button>

  </form>
</div>

<div class="comment-container">
  <form #commentForm="ngForm" (submit)="submitComment()">
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea
        type="text"
        class="form-control"
        id="comment"
        name="comment"
        [(ngModel)]="comment.message">
      </textarea>
    </div>

    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!commentForm.form.valid"
    >
      Comment
    </button>

  </form>
</div>
